
* {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
}

div #buttons {
    padding: 20px 0 10px 0;
}

.text-area {
    padding: 10px 0 10px 0;
}

.container {
    width: 800px;
}
